.rayCover {
  overflow: hidden;
  position: absolute;
  width: 300px;
  height: 100px;
  //background: rgb(104, 100, 101);
  //border: 1px solid rgb(104, 100, 101);
  left: -7em;
  top: 5.5em;
}
.rayCover2 {
  overflow: hidden;
  position: absolute;
  width: 50px;
  height: 600px;

  bottom: 5em;
  right: -4em;
  //background: rgb(37, 39, 39);
  //border: 1px solid rgb(37, 39, 39);
}
.lightRayOne {
  //position: absolute;
  //overflow: hidden;
  //   height: 100px;
  //   left: -7em;
  //   top: 5em;
  //background: #525151;
  position: absolute;
  left: -7em;
  z-index: 1;
  span {
    position: absolute;
    left: -7em;
    top: 5em;
    z-index: 1;
    width: 4px;
    background: linear-gradient(
      270deg,
      rgb(158, 112, 255) 0%,
      rgb(255, 112, 172) 100%
    );
    box-shadow: 0 0 0 0 4px rgba(255, 255, 255, 0.1),
      0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
    opacity: 0;

    //animation: name duration timing-function delay iteration-count direction fill-mode;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      //transform: translateY(50%);
      transform: translateY(-50%);
      // transform: translateY(140px);
      width: 300px;
      //width: 100%;
      height: 0.8px;
      //background: linear-gradient(90deg, #fff, transparent);
      background: linear-gradient(
        270deg,
        rgb(158, 112, 255) 0%,
        rgb(255, 112, 172) 100%
      );
    }
  }
  span:nth-child(1) {
    animation: shoot 1.5s 5s linear 1;
  }
  span:nth-child(2) {
    animation: shoot 1.5s 10s linear 1;
  }
  span:nth-child(3) {
    animation: shoot 1.5s 15s linear 1;
  }
  span:nth-child(4) {
    animation: shoot 1.5s 20s linear 1;
  }
  span:nth-child(5) {
    animation: shoot 1.5s 25s linear 1;
  }
  span:nth-child(6) {
    animation: shoot 1.5s 30s linear 1;
  }
  span:nth-child(7) {
    animation: shoot 1.5s 35s linear 1;
  }
  span:nth-child(8) {
    animation: shoot 1.5s 40s linear 1;
  }
  span:nth-child(9) {
    animation: shoot 1.5s 45s linear 1;
  }
  span:nth-child(10) {
    animation: shoot 1.5s 50s linear 1;
  }
}
@keyframes shoot {
  0% {
    //transform: rotate(315deg) translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  80% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    // transform: rotate(315deg) translateX(-1000px);
    //transform: translateX(1000px);
    transform: translateX(200px);
    opacity: 0;
  }
}
.lightRayTwo {
  position: absolute;
  z-index: 1;
  bottom: 5em;
  right: 4em;
  //right: -4em;
  span {
    position: absolute;
    bottom: 5em;
    right: -4em;
    //right: -4em;
    //bottom: 5em;
    width: 4px;
    background: linear-gradient(
      270deg,
      rgb(158, 112, 255) 0%,
      rgb(255, 112, 172) 100%
    );
    box-shadow: 0 0 0 0 4px rgba(255, 255, 255, 0.1),
      0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
    opacity: 0;

    &::before {
      content: "";
      position: absolute;
      //top: 50%;
      //transform: translateY(50%);
      transform: translateY(50%);

      width: 900px;
      height: 0.8px;
      //background: linear-gradient(90deg, #fff, transparent);
      background: linear-gradient(
        270deg,
        rgb(158, 112, 255) 0%,
        rgb(255, 112, 172) 100%
      );
    }
  }
  //   span:nth-child(1) {
  //     animation: shoot2 2s linear infinite;
  //   }
  span:nth-child(1) {
    animation: shoot2 2.2s 6s linear 1;
  }
  span:nth-child(2) {
    animation: shoot2 2.2s 12s linear 1;
  }
  span:nth-child(3) {
    animation: shoot2 2.2s 18s linear 1;
  }
  span:nth-child(4) {
    animation: shoot2 2.2s 24s linear 1;
  }
  span:nth-child(5) {
    animation: shoot2 2.2s 32s linear 1;
  }
  span:nth-child(6) {
    animation: shoot2 1.5s 36s linear 1;
  }
  span:nth-child(7) {
    animation: shoot2 1.5s 42s linear 1;
  }
  span:nth-child(8) {
    animation: shoot2 48s 48s linear 1;
  }
  span:nth-child(9) {
    animation: shoot2 1.5s 54s linear 1;
  }
  span:nth-child(10) {
    animation: shoot2 1.5s 60s linear 1;
  }
}
@keyframes shoot2 {
  0% {
    //transform: rotate(315deg) translateX(0);
    transform: rotate(90deg) translateX(0);
    opacity: 1;
  }
  80% {
    transform: rotate(90deg) translateX(300px);
    opacity: 0;
  }
  100% {
    transform: rotate(90deg) translateX(300px);
    opacity: 0;
  }
}
// @media (max-width: 500px) {
//   .rayCover {
//     left: -2em;
//   }
//   .rayCover2 {
//     right: -1em;
//   }
// }
@media (max-width: 500px) {
  .rayCover {
    left: -2em;
    width: 300px;
    height: 100px;

    left: -7em;
    top: 4.6em;
  }
  .rayCover2 {
    right: -1em;
  }
}
.lightRayOne {
  span {
    top: 4.6em;
  }
  &::before {
    width: 230px;
  }
}

// @keyframes shoot {
//     0% {
//       transform: rotate(315deg) translateX(0);
//       opacity: 1;
//     }
//     70% {
//       opacity: 1;
//     }
//     100% {
//       transform: rotate(315deg) translateX(-1000px);
//       opacity: 0;
//     }
//   }
