.rayCover {
  overflow: hidden;
  position: absolute;
  width: 300px;
  height: 100px;
  left: -7em;
  top: 5.85em;
}

.rayCover2 {
  overflow: hidden;
  position: absolute;
  width: 50px;
  height: 600px;
  bottom: 5em;
  right: -4em;
}

.lightRayOne {
  position: absolute;
  left: -7em;
  z-index: 1;
}
.lightRayOne span {
  position: absolute;
  left: -7em;
  top: 5em;
  z-index: 1;
  width: 4px;
  background: linear-gradient(270deg, rgb(158, 112, 255) 0%, rgb(255, 112, 172) 100%);
  box-shadow: 0 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgb(255, 255, 255);
  opacity: 0;
}
.lightRayOne span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 0.8px;
  background: linear-gradient(270deg, rgb(158, 112, 255) 0%, rgb(255, 112, 172) 100%);
}
.lightRayOne span:nth-child(1) {
  animation: shoot 1.5s 5s linear 1;
}
.lightRayOne span:nth-child(2) {
  animation: shoot 1.5s 10s linear 1;
}
.lightRayOne span:nth-child(3) {
  animation: shoot 1.5s 15s linear 1;
}
.lightRayOne span:nth-child(4) {
  animation: shoot 1.5s 20s linear 1;
}
.lightRayOne span:nth-child(5) {
  animation: shoot 1.5s 25s linear 1;
}
.lightRayOne span:nth-child(6) {
  animation: shoot 1.5s 30s linear 1;
}
.lightRayOne span:nth-child(7) {
  animation: shoot 1.5s 35s linear 1;
}
.lightRayOne span:nth-child(8) {
  animation: shoot 1.5s 40s linear 1;
}
.lightRayOne span:nth-child(9) {
  animation: shoot 1.5s 45s linear 1;
}
.lightRayOne span:nth-child(10) {
  animation: shoot 1.5s 50s linear 1;
}

@keyframes shoot {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  80% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(200px);
    opacity: 0;
  }
}
.lightRayTwo {
  position: absolute;
  z-index: 1;
  bottom: 5em;
  right: 4em;
}
.lightRayTwo span {
  position: absolute;
  bottom: 5em;
  right: -4em;
  width: 4px;
  background: linear-gradient(270deg, rgb(158, 112, 255) 0%, rgb(255, 112, 172) 100%);
  box-shadow: 0 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgb(255, 255, 255);
  opacity: 0;
}
.lightRayTwo span::before {
  content: "";
  position: absolute;
  transform: translateY(50%);
  width: 900px;
  height: 0.8px;
  background: linear-gradient(270deg, rgb(158, 112, 255) 0%, rgb(255, 112, 172) 100%);
}
.lightRayTwo span:nth-child(1) {
  animation: shoot2 2.2s 6s linear 1;
}
.lightRayTwo span:nth-child(2) {
  animation: shoot2 2.2s 12s linear 1;
}
.lightRayTwo span:nth-child(3) {
  animation: shoot2 2.2s 18s linear 1;
}
.lightRayTwo span:nth-child(4) {
  animation: shoot2 2.2s 24s linear 1;
}
.lightRayTwo span:nth-child(5) {
  animation: shoot2 2.2s 32s linear 1;
}
.lightRayTwo span:nth-child(6) {
  animation: shoot2 2.2s 36s linear 1;
}
.lightRayTwo span:nth-child(7) {
  animation: shoot2 2.2s 42s linear 1;
}
.lightRayTwo span:nth-child(8) {
  animation: shoot2 2.2s 48s linear 1;
}
.lightRayTwo span:nth-child(9) {
  animation: shoot2 2.2s 54s linear 1;
}
.lightRayTwo span:nth-child(10) {
  animation: shoot2 2.2s 60s linear 1;
}

@keyframes shoot2 {
  0% {
    transform: rotate(90deg) translateX(0);
    opacity: 1;
  }
  80% {
    transform: rotate(90deg) translateX(300px);
    opacity: 0;
  }
  100% {
    transform: rotate(90deg) translateX(300px);
    opacity: 0;
  }
}
@media (max-width: 500px) {
  .rayCover {
    left: -2em;
    width: 300px;
    height: 100px;
    left: -7em;
    top: 4.6em;
  }
  .rayCover2 {
    right: -1em;
  }
}
.lightRayOne span {
  top: 4.6em;
}
.lightRayOne::before {
  width: 230px;
}/*# sourceMappingURL=lightray.css.map */