@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", Helvetica, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  height: 100%;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: #0d0d12;
  background: black;
  color: #fff;
  position: relative;
}

li {
  list-style: none;
}

input,
select,
textarea {
  font-size: 100%;
  font-size: 16px;
}

.container {
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.mainContent {
  margin-top: 5em;
  padding: 4em 0 2em 0;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.shape1,
.shape2 {
  position: absolute;
  max-width: 379px;
  max-height: 350px;
}

.shape1 {
  left: -10em;
}

.shape2 {
  right: -10em;
  bottom: 4em;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top p {
  color: rgb(86, 86, 97);
  font-size: 0.8em;
  margin-top: 2em;
}
.top h2 {
  width: 100%;
  text-align: center;
  font-family: "Inter";
  margin: 0.2em auto auto auto;
  font-size: 3.3em;
  font-weight: 600;
  letter-spacing: -1px;
  color: rgba(241, 241, 243, 0.846);
}
.top br {
  display: block;
}
.top span {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(270deg, rgb(158, 112, 255) 0%, rgb(255, 112, 172) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.formBox {
  margin: 3em 0 2em 0;
}

::-moz-placeholder {
  color: rgb(59, 59, 62);
}

::placeholder {
  color: rgb(59, 59, 62);
}

.formInput {
  margin-bottom: 1em;
  position: relative;
}
.formInput input {
  background: transparent;
  width: 30vw;
  max-width: 325px;
  outline: none;
  font-size: 0.85em;
  border: 1.2px solid rgb(38, 38, 44);
  border-radius: 8px;
  padding: 1.1em 1em 1.1em 2.8em;
  height: 48px;
  color: #fff;
  transition: 0.2s ease-in;
}
.formInput input:hover {
  background: rgb(20, 20, 26);
}
.formInput input:focus {
  border: 1.2px solid rgb(93, 93, 95);
}
.formInput img {
  position: absolute;
  left: 0.7em;
  top: 12px;
}

.activeBtn {
  transition: 0.2s ease-in;
  opacity: 1 !important;
  background: rgba(38, 38, 44, 0.567) !important;
}

.button_disabled {
  background: rgb(20, 20, 26);
  color: rgb(75, 75, 88);
  cursor: not-allowed;
}

.formBtn,
.formBox button {
  opacity: 0.7;
  margin-top: 2em;
  background: rgb(20, 20, 26);
  color: rgb(75, 75, 88);
  padding: 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 8px;
  height: 48px;
  font-size: 0.85em;
  font-family: "Inter";
  cursor: pointer;
}
.formBtn img,
.formBox button img {
  position: absolute;
  right: 1em;
}

.formBox button {
  outline: none;
  border: 0;
  width: 30vw;
  max-width: 325px;
}

.contentBtm {
  width: 80%;
  margin: 1em 0 5em 0;
}
.contentBtm p {
  margin: auto;
  width: 60%;
  text-align: center;
  font-size: 0.8em;
  color: rgb(59, 59, 62);
}

.navBtm {
  position: absolute;
  width: 90%;
  left: 5%;
  right: 5%;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navBtm p {
  margin: auto;
  text-align: center;
  font-size: 0.8em;
  color: rgb(59, 59, 62);
  transition: 0.2s ease-in;
}
.navBtm p:hover {
  color: #fff;
  transform: scale(1.009);
}

@media (max-width: 820px) {
  .mainContent {
    width: 80%;
  }
  .formInput input {
    width: 60vw;
    max-width: 700px;
  }
  .formBox button {
    width: 60vw;
    max-width: 700px;
  }
}
@media (max-width: 500px) {
  .mainContent {
    width: 80%;
    padding-bottom: 3em;
  }
  .shape1,
  .shape2 {
    max-width: 230px;
  }
  .top p {
    font-size: 0.75em;
  }
  .top h2 {
    font-size: 2em;
  }
  .top br {
    display: none;
  }
  .formInput input {
    width: 70vw;
    max-width: 800px;
  }
  .formBox button {
    width: 70vw;
    max-width: 800px;
  }
  .contentBtm {
    bottom: 1em;
    width: 90%;
    left: 5%;
    right: 5%;
  }
  .contentBtm p {
    width: 96%;
  }
  .navBtm {
    width: 95%;
    left: 2.5%;
    right: 2.5%;
  }
}/*# sourceMappingURL=main.css.map */